Contact.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
<xs:element name="ContactInfo">
<xs:complexType>
<xs:sequence>
<xs:element type="xs:string" name="Name"/>
<xs:element name="Address">
<xs:complexType>
<xs:sequence>
<xs:element type="xs:string" name="DoorNo"/>
<xs:element type="xs:string" name="State"/>
<xs:element type="xs:float" name="ZipCode"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>